:root {
    --color-accent: #2196F3;
}

.text {
    color: white;
    font-size: 44px;
    font-weight: 200;
    text-align: center;
 }  
.button {
    background-color: var(--color-accent);
    color: white;
    font-weight: 700;
    margin:auto;
    display: block;
    padding: 10px 40px;
    border: 1px solid transparent;
}
.main {
    padding: 100px 400px;
    background-color: #2F303A;
    }

